@import url("./normolize.css");
@import url("./fonts.css");
@import url("./variables.css");


body { 
  margin: 0;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  line-height: 150%;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  /* font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; */
}

a {
  text-decoration: none;
}

.page {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

/* ================== header =====================*/

.header {
  width: 100%;
  padding-top: 12px;
  display: flex;
  flex-direction: column;
  align-items:center;
  background-color: var(--color-primary-dark);
}

.header__wrapper {
  width: 100%;
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.header__container {
  height: 100px;
  padding: 0 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:center;
}

.header__title-container {
  
}

.header__title {
  font-weight: 700;
  margin-bottom: 5px;
  color: var(--text-color-light);
  font-size: var(--font-size-desktop-h1);
  line-height: var(--line-height-desktop-h1);
}

.header__subtitle {
  font-weight: 500;
  color: var(--text-color-light);
  font-size: var(--font-size-desktop-h1-subtitle);
  opacity: 0.8;
}

.header__logo {
  height: 50px;
  width: 50px;
}

/* ================== header end=====================*/



/* ================== greeting =====================*/

.greeting {
  max-height: 400px;
}

.greeting__image {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  object-position: center;
}

/* ================== greeting end=====================*/

/* ==================button =====================*/
.button {
  border-radius: 25px;
  border: none;
  font-weight: 500;
  font-size: var(--font-size-desktop-regular);
  white-space: nowrap;
  cursor: pointer;
}

.button__placed_header {
  padding: 0 24px;
  width: 220px;
  height: 50px;
  background-color: var(--color-primary-light);
  color: var(--text-color-light);
}

.button__placed_card {
  position: absolute;
  padding: 0 24px;
  height: 50px;
  max-width: 30%;
  /* align-self: flex-end; */
  opacity: 0.8;
  background-color: var(--color-primary-light);
  color: var(--text-color-light);
  z-index: 1;
  bottom: 12px;
  right: 9px;
}

/* ================== button end=====================*/

.content {
  padding: 0;
  width: 100%;
  max-width: 1280px;
  flex: 1;
}

.content__wrapper {
  padding: 12px 70px;
  display: grid;
  grid-template-areas: 
    "main aside"
  ;
  grid-template-columns: 4fr 1fr;
  column-gap: 12px;
}

.main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  row-gap: 12px;
}

.section {
  width: 100%;
}

.section:not(:first-of-type) {
  padding-top: 24px;
}

.section_with_separator {
  border-top: 1px solid var(--color-primary-light);
}

.section__wrapper {
  /* padding: 30px 70px; */
}

.section__title {
  margin-bottom: 15px;
  text-align: center;
  font-size: var(--font-size-desktop-h3);
  color: var(--color-primary-dark);
}


/* ================== navigation-menu =====================*/
/* .navigation-menu {
  padding: 0 70px;
} */

/* .navigation-menu__list {
  padding: 0;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
} */

/* .navigation-menu__item {
  position: relative;
  width: 100%;
  border-right: 1px solid var(--color-primary-dark);
} */

/* .navigation-menu__dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 2;
} */

/* .navigation-menu__item:hover .navigation-menu__dropdown-content {
  display: block;
} */

/* .navigation-menu__item:last-of-type {
  border-right: none;
} */

/* .navigation-menu__link {
  display: block;
  padding: 12px 24px;
  background-color: var(--color-primary-light);
  color: var(--text-color-light);
  text-align: center;
} */

/* .navigation-menu__link_placed_dropdown-content {
  border-top: 1px solid var(--color-primary-dark);
} */

/* .navigation-menu__arrow {

} */

/* .navigation-menu__subnav-content {
  overflow: hidden;
} */

/* ================== navigation-menu end =====================*/
/* ================== navigation-menu v2 =====================*/

.navigation-menu {
  margin: 0 70px;
  
}

.navigation-menu-list {
  position: relative;
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: left;
  list-style: none;
  background-color: var(--color-primary-dark);

}

/* Навигационные ссылки */
/* .navigation-menu a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
} */

.navigation-menu__item {
  position: relative;
  font-size: var(--font-size-desktop-regular);
  height: 100%;
  color: var(--text-color-light);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border: none;
  outline: none;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navigation-menu__item:hover {
  /* color: var(--color-secondary-regular); */
  background-color: var(--color-primary-regular);
}

.navigation-menu__arrow::after {
  content: '⏷';
  padding-left: 6px;
  width: 12px;
  height: 12px;
}

/* Подменю навигации */
.navigation-menu__subnav {
  display: block;
  overflow: hidden;
}

/* Добавить красный цвет фона для навигационных ссылок при наведении */
.navigation-menu .navigation-menu__item_type_list:hover, .navigation-menu__subnav:hover .navigation-menu__item_type_list {
  background-color: var(--color-primary-regular);
}

.navigation-menu .navigation-menu__item_type_list:hover, .navigation-menu__subnav:hover .navigation-menu__arrow::after {
  content: '⏶';
}

/* Стиль содержимого subnav - позиционированный абсолютно */
.subnav-content {
  display: none;
  position: absolute;
  padding: 6px;
  left: 0;
  top: 100%;
  background-color: var(--color-primary-regular);
  width: 100%;
  z-index: 1;
}

/* Стиль ссылок subnav */
.subnav-content a {
  float: left;
  color: white;
  text-decoration: none;
}

/* Добавить серый цвет фона при наведении курсора */
.subnav-content a:hover {
  /* color: var(--color-secondary-regular); */
  background-color: var(--color-primary-dark);
}

/* При наведении указателя мыши на контейнер subnav откройте содержимое subnav */
.navigation-menu__subnav:hover .subnav-content {
  display: block;
}

/* ================== navigation-menu v2 end =====================*/



/* ================== footer =====================*/

.footer {
  width: 100%;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  align-items:center;
  background-color: var(--color-primary-dark);
}

.footer__wrapper {
  width: 100%;
  max-width: 1280px;
}

.footer__container {
  height: 100px;
  padding: 20px 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:center;
}
/* ================== footer end =====================*/

/* ================== cards =====================*/

.cards {
  padding: 0;
  margin: 0;
  display: grid;
}

.cards_placed_section {
  /* padding: 0px 70px; */
  grid-template-columns: repeat(2, 1fr);
  column-gap: 12px;
  row-gap: 12px;
}

.cards_placed_left-bar {
  column-gap: 12px;
  row-gap: 12px;
}

.cards_placed_nav {
  padding: 8px;
  grid-template-columns: repeat(auto-fit, calc(50% - 6px));
  column-gap: 12px;
  row-gap: 12px;
}

/* ================== cards end =====================*/

/* ================== card =====================*/

.card {
  padding: 6px 12px;
  margin: 0;
  display: flex;
  flex-direction: column;
  list-style: none;
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}

.card:nth-child(1) {
  background-image: url('../assets/card/teropevt.jpeg');
}

.card:nth-child(2) {
  background-image: url('../assets/card/child.jpeg');
}

.card:nth-child(3) {
  background-image: url('../assets/card/ortoped.jpeg');
}

.card:nth-child(4) {
  background-image: url('../assets/card/forafee.jpeg');
}

.card::after {
  position: absolute;
  background: transparent;
  background-image: linear-gradient(to right,var(--color-primary-regular) 60%, transparent 100%);
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  opacity: 1;
  right: 0;
  top: 0;
  width: 100%;
}

.card__title {
  z-index: 1;
  min-height: 50px;
  margin-bottom: 12px;
  font-size: var(--font-size-desktop-h3);
  color: var(--text-color-light);
  text-decoration: underline;
}

.card__text-block {
  z-index: 1;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-desktop-regular);
  color: var(--text-color-light);
}
/* .card__text-block:first-of-type {
  flex-direction: row;
  justify-content: space-between;
} */

.card__text-block-title {
  margin-bottom: 10px;
}

.card__text-block-text {
  /* display: block; */
  width: fit-content;
  flex-shrink: 0;
  margin-bottom: 10px;
  font-weight: 700;
  color: var(--text-color-light);
}
.card__text-block-text:last-of-type {
  margin-bottom: 0;
}

/* ================== card end =====================*/


/* ================== notice =====================*/

.notice {
  /* text-align: center; */
}

/* .notice__title {
  margin-bottom: 24px;
  font-size: var(--font-size-desktop-h3);
  color: var(--color-primary-dark);
} */

.notice__list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 12px;
}

/* ================== notice end =====================*/

/* ================== article-card  =====================*/



/* ================== article-card end =====================*/


/* ================== text-block =====================*/

/* .text-block {
  padding: 12px;
}

.text-block__title {
  text-align: center;
  margin-bottom: 12px;
  font-size: var(--text-block-desktop-title);
  color: var(--color-primary-dark);
}

.text-block__paragraph {
  text-align: start;
  margin-bottom: 6px;
  font-size: var(--text-block-desktop-paragraph);
}

.text-block__paragraph_with_indent {
  text-indent: 24px;
}

.text-block__paragraph_with_image {
  text-align: center;
} 

.text-block__link {
  font-weight: 700;
  color: var(--color-primary-regular);
}

.text-block__text-important {
  font-weight: 700;
  color: var(--color-important-dark);
}

.text-block__images-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 12px;
}

.text-block__text-danger {

}

.text-block__image {
  
}

.text-block__image_placed_images-container {
  width: 100%;
  height: 100%;
  object-fit: contain;
  cursor: pointer;
} */

/* ================== text-block end =====================*/

/* ================== links =====================*/

.aside {
  width: 100%;
  max-width: 360px;
  grid-area: aside;
  /* background-color: red; */
}

.links {
  padding: 0 6px;
  margin: 0;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  list-style: none;

}

.links__item {
  /* background-color: blue; */
}

.links__item-link {
  /* background-color: green; */
}

.links__item-image {
  width: 100%;
  /* object-fit: cover; */
}

/* ================== links end =====================*/