:root {

/* color */
  --color-primary-dark: #052D6E;
  --color-primary-regular: #104BA9;
  --color-primary-light: #6A93D4;

  --color-secondary-dark: #006957;
  --color-secondary-regular: #5ED0BD;
  --color-secondary-light: #00A287;

  --color-important-dark: #A66A00;
  --color-important-regular: #FFA200;
  --color-important-light: #FFCC73;

  /* text-color*/
  --text-color-light: #fff;

   /* text-size */
  --text-size-desktop-h1: 32px;
  --text-size-desktop-h1-subtitle: 14px;
  --text-size-desktop-menu: 16px;
  --text-size-desktop-h3: 24px;

  /* text-block */
  --text-block-desktop-title: 22px;
  --text-block-desktop-paragraph: 18px;
  --text-block-desktop-text-important: 18px;
  --text-block-desktop-text-danger: 18px;

}